# Git and Node
.git
.gitignore
node_modules
npm-debug.log

# Build artifacts from server
dist

# Build artifacts from client
client/dist
.vite

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment
.env
.env.*

# TS build info
*.tsbuildinfo

# Husky dev tools
.husky