services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: teamchess
    ports:
      - "${HOST_PORT:-80}:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
