body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  font-size: 0.9em;
  margin: 2px;
}
button:hover {
  background-color: #f4f4f4;
}

input[type="text"],
select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

pre {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}
